header{
    background-color: blueviolet;
    color: #fff;
    width: 100%;
}

nav{
    width: 90%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

main{
    width: 100%;
    background-color: blanchedalmond;
    height: 40vh;
}